
.container {
    width: 90%;
    padding: 16px ;

    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;

    color: darksalmon;
    text-align: center;
    border: 2px solid dodgerblue;
    border-radius: 10px;
}
